#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.navbar {
  padding-bottom: 30px;
}

.carousel {
  padding-top: 30px;
}

.aboutaurora {
  padding-top: 30px;
}

.backtests {
  padding-top: 30px;
}

.mywatchlists {
  padding-top: 30px;
}