#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.navbar {
  padding-bottom: 30px;
}

.newscarousel {
  padding-top: 39px;
}

.newsimg {
  height: 565px;
  width: 100%;
}

.newscaption {
  width: 75%;
}

.aboutaurora {
  padding-top: 30px;
}

.backtests {
  padding-top: 30px;
}

.mywatchlists {
  padding-top: 45px;
}

.watchlistitems {
  font-size: 0.85rem;
}

.authuser {
  padding-top: 30px;
}

.aurora-logo {
  transition: transform 0.4s ease;
}

.aurora-logo:hover {
  transform: rotateY(360deg);
}